<div id="<%= dom_id friend %>">
  <p>
    <strong>Topic:</strong>
    <%= friend.topic %>
  </p>

  <p>
    <strong>String:</strong>
    <%= friend.string %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= friend.date %>
  </p>

  <p>
    <strong>String:</strong>
    <%= friend.string %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= friend.category %>
  </p>

  <p>
    <strong>String:</strong>
    <%= friend.string %>
  </p>

</div>
